body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  text-align: center;
  background-color: darkslategray;
}

/* Define styling for header text */
h1 {
  color: white;
  margin-top: 50px;
}
h2 {
  color: white;
  margin-top: 50px;
}
/* Define styling for paragraph text */
p {
  color: white;
  font-size: 16px;
  line-height: 1.5;
  margin: 20px 0;
  text-align: left;
}

a {
  color: lightblue;
}

ul {
  color: white;
  text-align: left;
}

img {
  text-align: left;
}
